<div class = "container d-flex mt-3">
<form action = "/answer"  class = "form-inline" method = "get" data-turbo="false" >
  <div >
  <input type="text" class = "" name="question" placeholder = "ask him anything!" >
  <input type="submit" value="Ask!">
  </div>
</form>
</div>
